# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = laburnumT
	email = laburnumtec@gmail.com
	signingkey = FE60245E66DB59FB
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[core]
	editor = vim
